#navbar{
  background: #14234C;
  color:white;
}

body{
  background-color: #E0E0E0;
}

@keyframes slide {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

button{
  cursor: pointer;
}

h1, h2{
  font-weight: 100;
}

.intro-blurb{
  width:50%;
  margin:auto;
  position: absolute;
  top: 20%;
  left: -5%;
  color:white;
}

.route-link{
  color:white;
  text-decoration: none;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #59B8D0;
  padding:10px;
}

.main-nav-li {
  float: left;
  margin-left: 50px;
  cursor: pointer;
  animation-name: slideInFromLeft;
  -webkit-animation:slideInFromLeft;
  animation-duration: 1s;
}

.fadein{
  animation-name: slide;
  -webkit-animation: slide;
  animation-duration: 0.5s;
}

.main-nav-li:hover{
  text-shadow:2px 2px 4px #60BC3F;
}

#service-title{
  position: relative;
}

#services-title:hover + .service-menu{
  display: block;
}

.service-menu{
  display: none;
  color:white;
  position: absolute;
  background-color:#14234C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
}


.home-wrapper{
  color:#0E1938;
}

.home-inner-sec{
  margin:20px;
}

.home-top-sec{
  border-bottom: 1px solid #59B8D0;
  height: 60vh;
  background: linear-gradient(to bottom right,#0E1938,#14234C);
}



.home-mid-sec{
  border-bottom: 1px solid #59B8D0;
  height: 80vh;
}

.home-bottom-sec{
  height: 40vh;
  background-color: white;
  padding: 5px;
}

.footer-wrapper{
  border-top:1px solid #59B8D0;
  color:white;
}

.footer-bottom {
  border-top:1px solid #59B8D0;
  background-color: #14234C;
  padding:5px;
  overflow: auto;
}


.social-tags{
  float: left;
}


.social-link{
  padding:5px;
  cursor: pointer;
  display: flex;
  align-items:center;
  float: left;
}

.footer-inner{
  width:75%;
  margin:auto;
}

.footer-inner ul{
  list-style-type: none;
  line-height: 2;
}

.about-wrapper{
  text-align: center;
}

.about-panel{
  border-radius:5px;
  box-shadow: 2px 2px 8px 2px #888888;
  width:50%;
  margin:auto;
  height:120vh;
  margin-bottom: 20px;
}

.contact-wrapper{
  margin-bottom: 20px;
  color:#0E1938;
}

.contact-inner{
  width:50%;
  margin:auto;
  align-items: center;
  text-align: center;
}


.email-add{
  width:70%;
  margin:auto;
  padding:10px;
  font-size: 16px;
  margin-bottom: 10px;
  outline-color:#60BC3F;
}

.msg-body{
  height:60vh;
  width:70%;
  padding: 10px;
  outline-color:#60BC3F;
}

.submit-but{
  width:70%;
  margin:auto;
  padding:10px;
  font-size: 16px;
  border:1px solid #59B8D0;
  background: linear-gradient(to bottom right,#0E1938,#14234C);
  color:white;
}

.toggle-nav{
  display: none;
  background: none;
  outline: none;
  border: none;
}

.tog-bar{
  width: 35px;
  height: 5px;
  background-color: #59B8D0;
  margin: 6px 0;
}

.team-inner{
  margin:20px;
  color:#0E1938;
}



.error-wrapper{
  background: linear-gradient(to bottom right,#0E1938,#14234C);
  height: 80vh;
  padding: 20px;
  text-align: center;
  color: white;
}

.error-inner{
  width:50%;
  margin:auto;
  position: absolute;
  top: 0%;
  left: 25%;
  color:white;
}

.but-1{
  border-radius: 5px;
  border:1px solid #59B8D0;
  color:white;
  background: none;
  padding:5px;
  font-size: 16px;
}

.but-1:hover{
  background: rgba(89, 184, 208, 0.3);
}

.bottom-nav li:hover{
  border-bottom:1px solid #60BC3F;
}

.whole-team{
  background: white;
  border-radius: 5px;
  padding:5px;
  box-shadow: 5px 5px 8px 5px #adadad;
  border:1px solid #adadad;
}

.each-member{
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.each-member img{
  width:50%;
  border-radius: 100%;
  border:1px solid #59B8D0;
}

.black-bg{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:50;
  width:100%;
  height:100%;
}

.member-inner{
  background-color: white;
  position:fixed;
  top:5%;
  left:20%;
  height:90vh;
  width:60%;
  border-radius:5px;
  border:1px solid #59B8D0;
}

.member-top{
  overflow: auto;
  border-bottom: 1px solid #59B8D0;
}

.member-left-top{
  float:left;
  width:50%;
  margin: auto;
}

.member-top-right{
  float:right;
  text-align:center;
  position: relative;
  width:49%;
  margin: auto;
}

.but-3{
  border-radius: 5px;
  background-color: #E0E0E0;
  color:#0E1938;
  border:none;
  outline:none;
  margin: 10px;
  font-size: 18px;
  padding:5px;
  margin-left: 40px;
}

@media screen and (max-width: 560px) {
  .home-inner-sec{
    text-align: center;
  }

  .intro-blurb{
    display: none;
  }

  .toggle-nav{
    display: block;
    background-color: none;
  }

  #navbar{
    height: 100%;
    position: fixed;
    width:100%;
    display: none;
    animation-name: slide;
    animation-duration: 0.5s;
  }

  @keyframes slide {
  0%   {
    width:0%;
  }
  100% {
    width:100%;
  }
}

  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    padding:10px;
  }

  #navbar ul li {
    margin-bottom: 40px;
    cursor: pointer;
    float:none;
    font-size: 32px;
  }

  .contact-inner{
    width:100%;
    margin:auto;
    align-items: center;
    text-align: center;
  }

  .about-wrapper{
    text-align: center;
    border-bottom: 1px solid black;
  }

  .about-panel{
    border-radius:5px;
    box-shadow: none;
    width:80%;
    margin:auto;
    height:60vh;
    margin-bottom: 20px;
  }

  .team-inner{
    margin:20px;
    text-align: center;
  }

  .footer-inner{
    width:90%;
  }

  .footer-bottom{
    width:100%;
  }

  #close-member-but{
    margin-top: 10px;
    margin-left: 5px;
  }

  .member-inner{
    background-color: white;
    position:fixed;
    top:7%;
    left:0%;
    height:100vh;
    width:100%;
    border-radius:5px;
    border:1px solid #59B8D0;
  }

  .member-top{
    overflow: auto;
    border-bottom: 1px solid #59B8D0;
  }

  .member-left-top{
    width:100%;
    display: block;
  }

  .member-left-top img{
    width:100%;
  }

  .member-top-right{
    width:100%;
    display: block;
  }

  .member-top-right h1, h2{
    font-size: 20px;
  }

  .error-inner img{
    width:100%;
  }
}
