#navbar{
  background-color:#0E1938;
  color:#0E1938;
  animation-name: colorSlide;
  -webkit-animation:colorSlide;
  animation-duration: 1s;
  overflow:hidden;
}

@keyframes navSlide {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

#home-logo{
  width:48px;
}

#mail-link{
  color:none;
  text-decoration: none;
  color:#0E1938;
  font-size: 14px;
}

#mail-link:hover{
  color:#18E69B;
}

#blurb-id{
  font-size:28px;
  width:100%;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #18E69B;
}

#footer-v-img{
  margin-right: auto;
  padding-top: 10px;
  display: block;
  align-items: center;
  text-align: center;
}

.copyright-tag{
  margin-right: auto;
  padding-top: 10px;
  display: block;
}



@keyframes slide {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

button{
  cursor: pointer;
}

h1, h2{
  font-weight: 100;
}

.intro-blurb{
  width:70%;
  margin:auto;
  color:white;
}


.home-video{
  width:54%;
  float: right;
  animation-name: navSlide;
  -webkit-animation:navSlide;
  animation-duration: 0.5s;
  overflow:hidden;
}

.route-link-bottom{
  color:#0E1938;
  text-decoration: none;
}

textarea { resize: none; }

#footer-link{
  font-size: 14px;
  color:#0E1938;
}

#footer-link li:hover{
  border-bottom:1px solid #18E69B;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding:10px;
  animation-name: navSlide;
  -webkit-animation: navSlide;
  animation-duration: 1s;
}

.main-nav-li {
  float: left;
  margin-left: 50px;
  cursor: pointer;
  color:white;
  font-size: 16px;
  transition:0.3s;
}

.fadein{
  animation-name: slide;
  -webkit-animation: slide;
  animation-duration: 0.5s;
}

.blurb-para{
  animation-name: slide;
  -webkit-animation: slide;
  animation-duration: 0.5s;
  overflow: auto;
}

.main-nav-li:hover{
  color: #18E69B;
}

#service-title{
  position: relative;
}

#services-title:hover + .service-menu{
  display: block;
}

.service-menu{
  display: none;
  color:white;
  position: absolute;
  background-color:#0E1938;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
}


.home-wrapper{
  color:#0E1938;
}


.home-top-sec{
  background-color:#0E1938;
  animation-name: colorSlide;
  -webkit-animation:colorSlide;
  animation-duration: 1s;
}

@keyframes colorSlide {
  0%   {
    background-color:white;
  }
  100% {
    background-color:#0E1938;
  }
}

.home-mid-sec{
  text-align: left;
  padding: 20px;
  background-color: white;
}

#middle-inner{
  width:100%;
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
}

.current-service{
  animation-name: slideInFromLeft;
  -webkit-animation:slideInFromLeft;
  animation-duration: 1s;
}

.this-service{
  display: block;
  margin: auto;
  width:100%;
  color:white;
}

.this-service img{
  width:128px;
  margin: auto;
}

.this-service li{
  text-decoration: none;
  list-style-type: none;
  line-height: 2.5;
}

.this-service button{
  border-radius: 5px;
  outline:none;
  border:none;
  background-color: #0E1938;
  padding:10px;
  font-size: 16px;
  color:white;
  width: 80%;
}

.each-service{
  display: inline-block;
  margin: 20px;
  color:white;
  width:100%;
  margin: auto;
}

.each-service h3{
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: #18E69B;
}

.each-service img{
  width:96px;
  margin: auto;
}

.each-service li{
  text-decoration: none;
  list-style-type: none;
  line-height: 2;
  font-size: 12px;
}

.each-service button{
  border-radius: 5px;
  outline:none;
  border:none;
  background-color: #0E1938;
  padding:10px;
  font-size: 16px;
  color:white;
}


.home-bottom-sec{
  height: 40vh;
  background-color: white;
  padding: 5px;
}

#key-points-list{
  width:30%;
  text-align: center;
  margin: auto;
}

.footer-wrapper{
  color:#0E1938;
  background-color: white;
  border-top:1px solid #18E69B;
}

.solutions-about{
  width:100%;
}

.footer-bottom {
  background-color: white;
  overflow: auto;
  text-align: right;
  width:50%;
  margin: auto;
}

#footer-gradient-tag{
  background: linear-gradient(to right, #1E76BB, #00B5CD, #18E69B);
  padding-top: 5px;
  padding-bottom:5px;
  width:100%;
}

.social-tags{
  float: left;
}


.social-link{
  padding:5px;
  cursor: pointer;
  display: flex;
  align-items:center;
  float: left;
}

.footer-inner{
  width:100%;
  margin:auto;
  display: grid;
  color:#0E1938;
  text-align:center;
  grid-template-columns: 2fr 4fr 2fr;
}

.footer-inner ul{
  list-style-type: none;
  line-height: 2;
}

.footer-inner ul li{
  float: left;
  margin-right: 20px;
  color:#0E1938;
  font-size: 14px;
}

#footer-li-group-left{
  float:left;
}

#footer-li-group-right{
  float:right;
}

.about-wrapper{
  text-align: left;
  padding: 20px;
  line-height: 2em;
}

.about-panel{
  border-radius:5px;
  width:45%;
  margin:auto;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: none;
  float: right;
}

#veva-video{
  margin:auto 0;
  display:inline;
  outline:none;
  width:50%;
}

.contact-wrapper{
  margin-bottom: 20px;
  color:#0E1938;
}

.contact-inner{
  width:50%;
  margin:auto;
  align-items: center;
  text-align: center;
}

#watch-but{
  color:#18E69B;
  border:1px solid #18E69B;
  padding:20px;
  background:none;
  outline:none;
}

#watch-but:hover{
  background-color: rgba(24, 230, 155, 0.3);
}


.email-add{
  width:70%;
  margin:auto;
  padding:10px;
  font-size: 16px;
  margin-bottom: 10px;
  outline-color:#18E69B
}

#services-wrapper{
  width:100%;
  margin: 0 auto;
  padding: 0px;
  display: block;
  text-align: center;
  background:#0E1938;
}

#left-footer-ul{
  float:left;
}

.msg-body{
  height:50vh;
  width:70%;
  padding: 10px;
  outline-color:#18E69B
}

.submit-but{
  width:70%;
  margin:auto;
  padding:10px;
  font-size: 16px;
  border:1px solid #59B8D0;
  background: linear-gradient(to bottom right,#0E1938,#0E1938);
  color:white;
}

.toggle-nav{
  display: none;
  background: none;
  outline: none;
  border: none;
}

.tog-bar{
  width: 35px;
  height: 5px;
  background-color: #59B8D0;
  margin: 6px 0;
}

.team-inner{
  padding: 20px;
  margin:20px;
  color:white;
  background-color: #0E1938;
}

.team-inner h1{
  font-size: 56px;
}

.error-wrapper{
  background: white;
  height: 80vh;
  padding: 20px;
  text-align: center;

}

.error-text{
  color: #0E1938;
}

.error-inner{
  color: #0E1938;
  width:50%;
  margin:auto;
  position: absolute;
  top: 0%;
  left: 25%;
  color:white;
}

.but-1{
  border:1px solid #18E69B;
  color:white;
  background: none;
  padding:5px;
  font-size: 16px;
  color: #18E69B;
  font-weight: 100;
  outline: none;
}

.but-1:hover{
  background-color: rgba(24, 230, 155, 0.3);
}

.bottom-nav li{
  width:100%;
  margin: auto;
}

.bottom-nav li:hover{
  border-bottom:1px solid #18E69B
}

.whole-team{
  padding:5px;
  width:80%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.each-member{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 20px;
  position: relative;
}

.each-member img{
  width:100%;
  border:1px solid #59B8D0;
}

.black-bg{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:50;
  width:100%;
  height:100%;
}

.member-inner{
  background-color: white;
  position:fixed;
  top:5%;
  left:20%;
  height:90vh;
  width:60%;
  border-radius:5px;
  border:1px solid #59B8D0;
}

.member-top{
  overflow: auto;
  border-bottom: 1px solid #59B8D0;
}

.member-left-top{
  float:left;
  width:50%;
  margin: auto;
}

.member-top-right{
  float:right;
  text-align:center;
  position: relative;
  width:49%;
  margin: auto;
}

.but-3{
  border-radius: 5px;
  background-color: #E0E0E0;
  color:#0E1938;
  border:none;
  outline:none;
  margin: 10px;
  font-size: 18px;
  padding:5px;
  margin-left: 40px;
}



.all-services{
  padding: 10px;
  width:90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60vh;
}


.rounded-services{
  display: inline-block;
  margin: 10px;
  width:30%;
  text-align: center;
  color:#0E1938;
  cursor: pointer;
}

@keyframes zoom {
  0%   {
  width:30%;
  }
  100% {
  width:35%;
  }
}

.rounded-services img{
  width:30%;
}

.rounded-services:hover img{
  animation-name: zoom;
  animation-duration: 0.25s;
  width:35%;
}

.services-wrapper{
  color:#0E1938;
  padding: 10px;
  text-align: center;
}

.services-wrapper h1{
  font-weight: 400;
}

#first-div-top{
  float:left;
  text-align:left;
  width:40%;
  padding: 10px;
}

#second-header{
  font-size: 28px;
}

#home-mid-sec-brief{
  float:right;
  text-align:left;
  width:40%;
  color:#0E1938;
}

#right-side-nav{
  float:right;
  margin-right:20px;
}

#right-side-nav-footer{
  float:right;
  margin-right:20px;
}

.footer-inner ul li:hover{
  color:#18E69B;
}

.footer-inner ul li a:hover{
  color:#18E69B;
}

#contact-ul-footer{
  text-align:center;
  float:right;
}

@media screen and (max-width: 560px) {
  .home-top-sec{
    background: #0E1938;
  }

  .home-inner-sec{
    text-align: center;
  }

  #contact-ul-footer{
    text-align:center;
    float:none;
  }

  #anim-img{
    width:50%;
    margin: auto;
  }

  #watch-but{
    font-size: 12px;
  }

  #blurb-id{
    width:100%;
    font-size: 18px;
    text-align: center;
  }

  #first-div-top{
    text-align:center;
    margin-left:30%;
    position:absolute;
    top:10%;
  }

  .main-nav-li{
    color:white;
  }

  .blurb-para{
    display: none;
  }

  #second-header{
    font-size: 18px;
  }

  #home-mid-sec-brief{
    float:right;
    text-align:center;
    width:100%;
    color:#0E1938;
  }

  #right-side-nav{
    text-align: center;
    float:none;
    width:50%;
    margin: auto;
  }

  #left-footer-ul{
    float: none;
    text-align: center;
    margin: auto;
  }

  .route-link{
    text-decoration: none;
  }

  .toggle-nav{
    display: block;
    background-color: none;
  }

  #navbar{
    height: 100%;
    position: fixed;
    width:100%;
    display: none;
    animation-name: slide;
    animation-duration: 0.5s;
    background-color:  #0E1938;
    z-index: 10;
    text-align: center;
  }

  @keyframes slide {
  0%   {
    width:0%;
  }
  100% {
    width:100%;
  }
}

  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    padding:10px;
  }

  #navbar ul li {
    margin-bottom: 40px;
    cursor: pointer;
    float:none;
    font-size: 32px;
  }

  .contact-inner{
    width:100%;
    margin:auto;
    align-items: center;
    text-align: center;
  }

  .about-wrapper{
    text-align: center;
    border-bottom: 1px solid black;
  }


  .team-inner{
    margin:20px;
    text-align: center;
  }

  .footer-inner{
    width:100%;
  }




  #close-member-but{
    margin-top: 10px;
    margin-left: 5px;
  }

  .member-inner{
    background-color: white;
    position:fixed;
    top:7%;
    left:0%;
    height:100vh;
    width:100%;
    border-radius:5px;
    border:1px solid #59B8D0;
  }

  .member-top{
    overflow: auto;
    border-bottom: 1px solid #59B8D0;
  }

  .member-left-top{
    width:100%;
    display: block;
  }

  .member-left-top img{
    width:100%;
  }

  .member-top-right{
    width:100%;
    display: block;
  }

  .member-top-right h1, h2{
    font-size: 20px;
  }

  .error-inner img{
    width:100%;
  }

  #home-logo{
    width:35%;
  }

  .v-logo-nav{
    display: none;
  }

  .rounded-services{
    display: block;
    width:80%;
    margin:auto;
    padding-bottom: 40px;
  }

  .rounded-services img{
    width:128px;
  }

  #veva-video{
    margin:auto 0;
    display:inline;
    outline:none;
    width:100%;
  }

  .about-panel{
    float:none;
  }
}
