.loader {
  border-top: 16px solid #59B8D0;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 45%;
  margin-left: -50px;
  top:30%;
}

.loader-wrapper{
  height: 60vh;
}

.spinner-wrapper{
  position: fixed;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  top:0;
  left:0;
  width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 560px) {
  .loader{
    border-top: 8px solid #59B8D0;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: spin 1s linear infinite;
    position: relative;
    left: 40%;
    display: block;
  }
}
